@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic);
* {
   font-family: 'Droid Serif', serif;
}

body {
   background: #FFF;
}

h2 {
   line-height: 1.1em;
}

table,
table td,
table th {
   font-size: 18px;
   line-height: 1.2em;
}

#pageWrapper {
   font-size: 16px;
   line-height: 1.4em;
   width: 720px;
   margin-left: auto;
   margin-right: auto;
   background: #FFF
}

#header {
   padding-bottom: 10px;
}

#header::after {
   display: block;
   content: "";
   clear: both;
}

#title-wrap {
   position: relative;
   height: 42px;
}

#header #title {
   margin-bottom: 0;
}

#contact {
   overflow: hidden;
}

#contact table {
   /*border: 1px solid black;*/
   margin-left: auto;
   margin-right: auto;
}

#contact th {
   vertical-align: top;
   text-align: left;
   padding-right: 20px;
}

#contact td {
   vertical-align: top;
   padding-right: 40px;
   text-align: left;
}

#materials {
   margin-left: auto;
   margin-right: auto;
}

#materials th,
#materials td {
   padding-left: 15px;
   padding-right: 15px;
}

#grade-scale {
   border: 1px solid black;
   border-collapse: collapse;
   float: right;
   margin-left: 30px;
}

#grade-scale td,
#grade-scale th {
   border: 1px solid black;
   text-align: center;
   padding-left: 10px;
   padding-right: 10px;
}

section h2 {
   background: #BBB;
   padding-left: 5px;
}

section h3 {
   display: inline;
}


/* Lectures.html Stuff */

.sc {
   font-variant: small-caps;
}

#topics {
   width: 720px;
}

#topics h3 {
   float: left;
   margin: 5px;
}

#topics .date {
   float: right;
   margin: 5px;
}

#topics th {
   background: #EEE;
}



.week {
   margin-top: 20px;
}

.week ul {
   margin: 0px;
}

.week section {
   list-style-type: none;
   margin-bottom: 10px;
   margin-top: 10px;
   padding-left: 10px;
}

.week h3 {
   background: #EEE;
   display: block;
   padding: 5px;
   margin: 0px;
}

.week section h3 {
   background: none;
}

.exam {
   color: red;
}

em {
   font-weight: bold;
}


/* exams.html stuff */

#schedule table {
   margin-left: auto;
   margin-right: auto;
}

#schedule th,
#schedule td {
   padding-left: 30px;
   padding-right: 30px;
}

#schedule th text-align: center;

}

/* Homework.html stuff */
